<% include ../template/header %>

<div class="container-fluid mt-3 mb-3 pr-0 pl-0 all_post">
   <div class="card mt-3 mb-3">
      <div class="card-header">
         <div class="row align-items-center">
            <div class="col-8">
               <h5 style="font-size:20px;">Tất cả bài viết</h5>
            </div>
            <div class="col-4 text-right">
               <a href="/user/add-post" class="btn btn-primary"><i class="fas fa-pen"></i> Thêm bài viết</a>
            </div>
         </div>
      </div>

      <table class="table table-responsive table-bordered table-striped">
            <thead class="thead-dark"> <!-- add class="thead-light" for a light header -->
              <tr>
                <th>Tiêu đề</th>
                <th>Trích dẫn</th>
                <th class="filter-select filter-exact" data-placeholder="Chọn">Chủ đề</th>
                <th>keyword</th>
                <th class="sorter-false filter-false">Được duyệt</th>
                <th class="sorter-false  filter-false">Hành động</th>
               </tr>
            </thead>
            <tfoot>
              <tr>
                <th width="20%">Tiêu đề</th>
                <th width="20%">Trích dẫn</th>
                <th>Chủ đề</th>
                <th>keyword</th>
                <th width="8%">Được duyệt</th>
                <th width="20%">Hành động</th>
              </tr>
              <tr>
                <th colspan="6" class="ts-pager">
                  <div class="form-inline">
                    <div class="btn-group btn-group-sm mx-1" role="group">
                      <button type="button" class="btn btn-secondary first" title="first">⇤</button>
                      <button type="button" class="btn btn-secondary prev" title="previous">←</button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm mx-1" role="group">
                      <button type="button" class="btn btn-secondary next" title="next">→</button>
                      <button type="button" class="btn btn-secondary last" title="last">⇥</button>
                    </div>
                    <select class="form-control-sm custom-select px-1 pagesize" title="Select page size">
                      <option selected="selected" value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="all">All Rows</option>
                    </select>
                    <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Select page number"></select>
                  </div>
                </th>
              </tr>
            </tfoot>
            <tbody>
            <% if(Object.keys(baiviet).length === 0){{%>

            <%}}else{ baiviet.forEach(function(bv){%>   
              <tr id="rwo_posts_<%= bv.id%>">
                 <td ><div class="all_post_tieude"><%= bv.tieude %></div></td>
                 <td><div class="all_post_trichdan"><%= bv.trichdan %></div></td>
                 <td> <% chude.forEach(function(cd){
                    if(cd.id == bv.id_chude){%>
                        <%= cd.ten_cd %>      
                    <%}})%>
                  </td>
                 <td><%= bv.keyword %></td>
                 <td><%user_duyet.forEach((user_d)=>{
                     if(bv.id_duyetbai == user_d.id){%>
                        <div class="text-center"><i class="fas fa-check" style="color:#007bff;"></i></div>
                    <%}})%>
                  </td>
                 <td class="text-center">
                     <a href="/user/posts-detail/<%= bv.id%>" role="button" class="btn btn-success"><i class="fas fa-eye"></i> Chi tiết</a>
                     <a href="/user/post-edit/<%= bv.id%>" role="button" class="btn btn-warning"><i class="fas fa-edit"></i> Sửa</a>
                     <button data-id="<%= bv.id%>" role="button" class="btn btn-danger all_post_xoaPost"><i class="fas fa-trash-alt"></i> Xóa</button>
                 </td>
               </tr>
               <%})}%>
            </tbody>
          </table>




      <!-- <table id="example" class="table table-striped table-bordered dt-responsive nowrap"
         style="width:100%;border:none;">
         <thead style="font-size: 14px;">
            <tr>
               <th>Ảnh bài viết</th>
               <th>Tiêu đề</th>
               <th>Nội dung</th>
               <th>Trích dẫn</th>
               <th>keyword</th>
               <th>Người duyệt</th>
               <th>Chủ đề</th>
               <th>Cập nhật lần cuối</th>
               <th>Hành động</th>
            </tr>
         </thead>
         <tbody style="font-size: 14px;">
            <% if(Object.keys(baiviet).length === 0){{%>

            <%}}else{ baiviet.forEach(function(bv){%>   
            <tr>
               <td><img src="/img-posts/<%= bv.des_pic %>" class="img-thumbnail" alt="" width="100%;"/></td>
               <td class="all_post_tieude"><%= bv.tieude %></td>
               <td class="all_post_noidung"><%= bv.noidung %></td>
               <td class="all_post_trichdan"><%= bv.trichdan %></td>
               <td class="all_post_keyword"><%= bv.keyword %></td>
               <td class="all_post_duyetbai"><%= bv.id_duyetbai %></td>
               <td class="all_post_chude"><%= bv.id_chude %></td>
               <td class="all_post_updated_at"><%= bv.updated_at %></td>
               <td class="text-center">
                  <a href="#" role="button" class="btn btn-warning"><i class="fas fa-edit"></i> Sửa</a>
                  <a href="#" role="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Xóa</a>
               </td>
            </tr>
            <%})}%>

         </tbody>
      </table> -->
   </div>
   <script>
   $(function() {

      $("table").tablesorter({
      theme : "bootstrap",

      widthFixed: true,

      // widget code contained in the jquery.tablesorter.widgets.js file
      // use the zebra stripe widget if you plan on hiding any rows (filter widget)
      // the uitheme widget is NOT REQUIRED!
      widgets : [ "filter", "columns", "zebra" ],

      widgetOptions : {
         // using the default zebra striping class name, so it actually isn't included in the theme variable above
         // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
         zebra : ["even", "odd"],

         // class names added to columns when sorted
         columns: [ "primary", "secondary", "tertiary" ],

         // reset filters button
         filter_reset : ".reset",

         // extra css class name (string or array) added to the filter element (input or select)
         filter_cssFilter: [
            'form-control',
            'form-control',
            'form-control custom-select', // select needs custom class names :(
            'form-control',
            'form-control',
            'form-control',
         ]

      }
      })
      .tablesorterPager({

      // target the pager markup - see the HTML block below
      container: $(".ts-pager"),

      // target the pager page select dropdown - choose a page
      cssGoto  : ".pagenum",

      // remove rows from the table to speed up the sort of large tables.
      // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
      removeRows: false,

      // output string - default is '{page}/{totalPages}';
      // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
      output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

      });

      });
   </script>
</div>
<% include ../template/footer %>